nav {
    background-color: lightblue;
    position:fixed;
    top:0px;
    left: 0px;
    width: 100vw;
    height: 50px;
    
}
nav ul li { 
    display : inline-block;
    color: blue;
    font-weight:bold;
    margin-right:20px;
}
nav ul { 
    text-align: right;
}
body
{
 background-image: url("https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Colorful-Geometric-Simple-Background-Image.jpg");
 font-family: 'Times New Roman', Times, serif
}
.registration{
    text-align: center;
    border-radius:30px;
    background-color:pink;
    width: 20rem;
    height: 20rem;
    margin: auto;
    padding: auto;
}
h1{
    text-align: center;
    padding: 60px
}
#email{
    border-radius:20px;
}
#username{
    border-radius:20px;
}
#number{
    border-radius:20px;

}
#code{
    border-radius:20px;
}
#code1{
    border-radius:20px;
}
